<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Orders</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="!accountProvider.loggedIn" [@flyAlternameSlow]="0">
      <ion-card-header style="font-weight: bold;">
        Not Logged In
      </ion-card-header>
      <ion-card-content>
        Please log in to view your past orders! <br><br>
            <button ion-button style="left:25%;width: 50%" (click)="openLoginPage()">Log in</button>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="accountProvider.loggedIn" [@flyAlternameSlow]="0">
      <ion-card-header>
        Order History
      </ion-card-header>
      <ion-list inset>
            <button ion-item *ngFor="let order of orders" (click)="orderSelected(order)">
                <h3 style="float:left">Order #{{order.orderNumber}}</h3>
                <h3 style="float:right">{{order.processedAt}}</h3>
                <br>
                <h3 style="clear: left;float:left">Order Size : {{order.cartItem.length}}</h3>
                <h3 style="float:right">${{order.totalPrice}}</h3>
            </button>
      </ion-list>
    </ion-card>
</ion-content>
